---
layout: default.njk
title: "About Me"
---

<h1>About Me</h1>
<p>Hello, My name is Jennifer Murphy</p>

<p>One thing about me is that I love animals very much, especially cats. I have rescued two cats off the street and they have become my pride and joy. My first cats name is Capser,
he was brought to the shelter from an abusive household and there I adopted him. He has been with me for 8 years now and is the most affectionate cat I have ever seen. My second cats name
is Autumn, I was walking home from work when I found her beside a dumpster. It looked like she had been out there for sometime. I took her home, gave her food, water, and a vet visit.
We ended up keeping her and she has been living with me for 3 years now.</p>

<img src="/src/img/mycat.jpg" alt="Picture of Capser" style="max-width: 200px; border-radius: 50%;">

<p>If you’re interested in learning more about me or would like to get in touch, feel free to contact me:</p>

<ul>
  <li>Email: <a href="mailto:jenn30731@gmail.com">jenn30731@gmail.com</a></li>
</ul>