---
layout: layouts/default.njk
pagination:
  data: animals
  size: 3
  alias: animal
permalink: "animals/page-{{ pagination.pageNumber + 1}}/index.html"
---

{# <h1> {{ animal.name }} is a {{ animal.breed }}</h1> #}

<ol>
{%- for animal in pagination.animals %}
  <li>{{ animal.name }} is a {{ animal.breed }}</li>
{% endfor -%}
</ol>

<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ol>
    {# Previous page link #}
    {% if pagination.pageNumber > 0 %}
      <li><a href="{{ pagination.href.previous }}">Previous Page</a></li>
    {% endif %}

    {# Individual page links #}
    {%- for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if pagination.pageNumber == forloop.index0 %} aria-current="page"{% endif %}>
          Page {{ forloop.index + 1 }}
        </a>
      </li>
    {%- endfor %}

    {# Next page link #}
    {% if pagination.pageNumber < pagination.pages | length - 1 %}
      <li><a href="{{ pagination.href.next }}">Next Page</a></li>
    {% endif %}
  </ol>
</nav>

{# Link to the first and last pages #}
<nav>
  <a href="{{ pagination.href.first }}">First Page</a>
  <a href="{{ pagination.href.last }}">Last Page</a>
</nav>